body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url(./assets/img/img-fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #0D1A46;
    color: #f0f0f0;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
}

.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 90px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f0f0f0;
}

#jogo {
    width: 700px;
    height: 340px;
    background-color: #f0f0f0;
    border: 1px solid #353535;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.bola {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.bola-azul {
    background-image: url(./assets/img/bolha-1.png);
    background-size: cover;;
}

.bola-rosa {
    background-image: url(./assets/img/bolha-2.png);
    background-size: cover;;
}

.bola-verde {
    background-image: url(./assets/img/bolha.png);
    background-size: cover;;
}

#pontuacao, #tempo {
    margin-top: 20px;
    font-size: 20px;
}

.menu-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 200px;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #0D1A46;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 24px;
    display: none;
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn:hover{
    background-color: #EFD187;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.start{
    width: 100%;
}

.start-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.img-logo{
    margin-top: 45px;
   width: 45%;
}

.text-start{
    display: flex;
    align-items: center;
}

.title-start{
    color: #A8E65D;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 8px;
}

.title-start:hover{
    color: #EFD187;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

#bolha-estoura{
    display: none;
}

.popup {
    display: none;
    position: fixed;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid var(--azul-black);
    border-radius: 8px;
    z-index: 9999;
    max-width: 120%;
    max-height: 80%; 
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .tutorial {
    text-align: center;
  }

  .descricao {
    text-align: start;
    margin-top: 20px;
    font-size: 16px;
  }

  .popup .btn {
    margin-top: 24px;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .popup h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #0D1A46;
  }

  .copy{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #f0f0f0;
    text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  }